@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project</h1>
    <p class="lead">Accounting ERP for your Business.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Accounting ERP provide you a powerful, patterns-based way to view your business progress.
            Maintain your business with this solution more precisely.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our More Freatures</h2>
        <p>Currently it is an complete Acoounting software that can handle your busines in a etter way.
        Including Inventory, Sale, Purchase, Payroll and more.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>UpComming</h2>
        <p>In future this erp will aslo provide further business modules like RMA, Commisions and More.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>